<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Node Twitter Stream</title>
  <link rel="shortcut icon" href="https://pngimg.com/uploads/twitter/twitter_PNG35.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body {
      background-color: rgb(29, 161, 242);
    }

    .fade-in {
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
    }

    @keyframes fade-in {
      100% {
        opacity: 1;
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h1 class="display-4 text-white text-center my-5">Twitter Stream</h1>
        </div>
        <div class="col-12">
          <div class="row justify-content-end mb-3">
            <div class="col-lg-4 col-sm-12">
              <div class="input-group">
                <input class="form-control border-warning" type="text" v-model="txt" />
                <div class="input-group-append">
                  <button class="btn btn-warning" @click="track">Track</button>
                  <button class="btn btn-danger" @click="stop">Stop</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" id="message" style="display: none;">
          <h3 class="text-white text-center mt-4 mb-4">{{message}}</h3>
        </div>
        <div class="col-12" id="media" style="display: none;">
          <div v-for="tw in tweets" :key="tw.id">
            <div class="bg-white rounded p-2 mb-2 fade-in">
              <div class="media">
                <img :src="tw.user.profile_image_url" class="align-self-center mr-3" width="48px" height="48px"
                  alt="profile">
                <div class="media-body">
                  <h5 class="mt-0">{{tw.user.name}}</h5>
                  <p class="tw">{{tw.text}}</p>
                </div>
              </div>
              <div class="col-12 text-center my-2">
                <img v-if="tw.entities.media" :src="tw.entities.media[0].media_url" class="img-fluid" alt="img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var socket = io();
    new Vue({
      el: "#app",
      data: {
        txt: "Twice",
        tweets: [],
        message: ''
      },
      methods: {
        track() {
          socket.emit("track", this.txt);
          this.message = 'Tracking..'
        },
        stop() {
          socket.emit("stop");
          this.message = 'Stopped'
        },
      },
      mounted() {
        document.getElementById('media').style.display = 'block'
        document.getElementById('message').style.display = 'block'

        socket.on("tweet", (res) => {
          if (!res.text.includes('RT')) {
            let arr = this.tweets;
            if (arr.length > 30) arr.length = 30
            arr.unshift(res);
            this.tweets = arr;
            this.message = ''
          }
        });
      },
    });
  </script>
</body>

</html>